* {
    box-sizing: border-box;
    margin: 0;
  }
  
  body {
    font-family: "Roboto", sans-serif;
    letter-spacing: -0.02em;
  }
  
  a {
    
    border: 1px solid black;
    font-size: 18px;
    line-height: 20px;
    color: #8492a6;
    text-decoration: none;
  }
 
  .box{
    border: 4px solid black;
    width: 480px;
    height: 480px;
    background-color: #0066ff;
    
    color: white;
    padding-top: 40px;
    padding-left: 50px;
    
  }
  
  #rep{
    display: inline-block;
    background-color: #0066ff;
    margin-top: 10px;
    color: white;
  }
