*{
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family: "Poppins", sans-serif;
    color: rgb(12, 2, 2);
}

.parent{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content:center;
    background-color: rgb(212, 216, 215);
    width: 600px;
    height: 1000px;
    margin: 0 auto;
}

.child{
    
    width: 300px;
    height: 200px;
    line-height: 200;
    text-align: center;
    color: #ffff;
    font-weight: 600;
}

.red{
    order: 3;
    background-color: red;
    
}
.yellow{
    order: 1;
    background-color: orange;
    
}
.blue{
    order: 2;
    background-color: green;
}